#intro {
    background: url("../assets/blueberries.jpg");
    background-size: cover;
}


/* Article styles */
.article-heading {
    margin: 40px 0 8px 0;

    font-size: 35px;
    font-weight: 1000;

    line-height: 120%;
}


.article-subheading {
    margin-bottom: 10px;

    font-size: 30px;
    font-weight: 300;
}


.article-headings:hover, .article-headings:active {
    color: #0077b6 !important;
}


.article-info {
    padding-bottom: 40px;
    width: 100%;

    display: inline-block;

    font-family: 'Lora';
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    color: rgb(169, 169, 169);

    border-bottom: 1px solid lightgray;
}


.bio-link {
    display: inline !important;
}
